.ProseMirror-menubar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.ProseMirror-menuitem .ProseMirror-icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ProseMirror-menuitem .ProseMirror-icon:hover {
  background-color: #cdcdcd;
}
.ProseMirror-menuitem .ProseMirror-icon svg{
  width: 22px;
  height: 22px;
}