@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  outline: 0;
}
.ProseMirror-menubar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.ProseMirror-menuitem .ProseMirror-icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ProseMirror-menuitem .ProseMirror-icon:hover {
  background-color: #cdcdcd;
}
.ProseMirror-menuitem .ProseMirror-icon svg {
  width: 22px;
  height: 22px;
}

[data-current-hash],
[data-block-id] {
  padding: 30px 10px 10px;
  position: relative;
  margin: 10px 0;
  @apply border border-slate-600 rounded bg-white;
}

[data-current-hash]::before {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  color: blue;
  content: "HASH: " attr(data-current-hash);
  @apply bg-slate-600 text-white p-1 rounded-tr;
}

[data-block-id]::after {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10px;
  color: blue;
  content: "Block: " attr(data-block-id);
  @apply bg-slate-600 text-white p-1 rounded-tl;
}
